body {
  background: #fff;
}
.top-bar {
  padding: 0.1rem;
  background: #46898e;
}
.header {
  background: #CCC55B;
}
.menu-styles ul li:hover {
background: #2E7378;
}
.menu-top ul li a {
  color: #fff;
  font-size: 1.1rem;
}
.menu-top ul {
  background: #46898e;
}
.quilts {
  background: #9C839E;
}
.profile {
  background: #CCC55B;
}
.main-text {
  background: #46898e;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 0;
    padding: 2rem 0;
  }
  p {
    color: #fff;
    font-size: 1rem;
  }
}

.footer {
  background: #46898e;
  height: 65%;
  padding-top: 2rem;
  p {
    margin: 0;
  }
}
.logo img {
  margin: 1rem;
}
.row-spacing {
  padding: 2rem 0;
}
/* connie jones page */
.connie-main-image {
  background-image: url("/assets/img/connie_beach.jpg");
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
/*  services page */
.services {
  h2 {
    text-align: center;
  }
}
