body {
  background: #46898e;
}
.top-bar {
  padding: 0;
  background: #46898e;
  text-align: center;
  line-height: 90%;
}
#connie-title {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  line-height: 1rem;
}
#colon-title {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.header {
  background: #CCC55B;
}
.menu-styles ul li:hover {
background: #2E7378;
}
.menu-top ul li a {
  color: #fff;
  font-size: 1.1rem;
}
.menu-top ul {
  background: #46898e;
  display: inline-block;
}
.menu > li > a {
  padding: 0.7rem 0.8rem;
}
.menu .active > a {
    background: #1C6C72;
}
.quilts {
  background: #9C839E;
  img {
    padding: 1rem 0;
  }
}
.profile {
  background: #CCC55B;
}
.home-images {
  text-align: center;
  img {
   padding: 1rem;
 }
}
.main-text {
  background: #46898e;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 0;
    padding: 2rem 0;
  }
  p {
    color: #fff;
    font-size: 1rem;
  }
}

.footer {
  background: #46898e;
  padding-top: 2rem;
  p {
    color: #fff;
    margin: 0;

  }
}
.footer-info {
  padding: 1rem;
  p a {
    color: #fff;
  }
  p a:hover {
    color: #CCC55B;
  }
}
.footer-menu {
  ul {
    text-align: center;
  }
  ul li {
    display:inline-block;
    color: #d6ce77;
  }
  ul li a {
    font-size: 1rem;
    color: #fff;
  }
  ul li a:hover {
    color: #d6ce77;
  }
}
.footer-bkg {
  background: #9C839E;
  padding-top: 0.5rem;
}
.logo {
  text-align: center;
  img {
  margin: 1rem;
  width: 150px;
  box-shadow: 2px 2px 5px #000;
  border-radius: 27px;
  }
}
.phone {
  float: left;
  p {
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
  color: #2c2c2c;
  }
}
.title-bar {
  background: #46898E;
}
.row-spacing {
  padding: 1rem 0 2rem 0;
}
.white-bkg {
  background: #fff;
}
/* connie jones page */
.connie-main-image {
  background-image: url("/assets/img/connie_beach.jpg");
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
/*  Service page */

.service {
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
    color: #ce1545;
    padding-top: 1.5rem;
  }
}
table thead {
    background: #46898E;
    color: #fff;
    border: 1px solid #46898E;
}
table tbody {
    border: 1px solid #46898E;
    background-color: #ccc55b;
}
table tbody tr:nth-child(2n) {
    background-color: #e1d853;
}
#service-fineprint {
  font-size: .7rem;
  color: #ce1545;
}
/* preparation */
.bed-main-image {
  background-image: url("/assets/img/bed.jpg");
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -15rem;
}

/* forms */
.forms-main-image {
  background-image: url("/assets/img/forms.jpg");
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -7rem;
}
.form-text-box {
  text-align: center;
  padding-top: 10%;
}
.form-text-link {
  text-align: center;
  padding-top: 1%;
}
#form-text {
  font-size: 1.9rem;
  font-weight: bold;
  background: rgba(204, 197, 91, 0.75);
  padding: 0.8rem;
  margin: 0 8rem;
}
#form-text-link {
  font-size: 1.3rem;
  background: #ccc55b;
  padding: 0.8rem;
  margin: 0 35%;
  border: 1px solid #fff;
  font-weight: bold;
  a {
    color: #fff;
  }
  a:hover {
    color: #46898E;
  }
}

/* faq */
.faq-text-box {
  text-align: center;
  padding-top: 5%;
}
#faq-text {
  font-size: 1.9rem;
  font-weight: bold;
  padding: 0.8rem;
  margin: 0 8rem;
  font-style: italic;
}

/* blog */
.blog-text-box {
  text-align: center;
}
#blog-text {
  font-size: 1.9rem;
  padding: 0.8rem;
  margin: 0 8rem;
}
.blog-main-image {
  background-image: url("/assets/img/connies_desk.jpg");
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -16rem;
}

/* contact */
.contact-main-image {
  background-image: url("/assets/img/contact.jpg");
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -16rem;
}
.green-bkg {
  background: #46898e;
}

/* contact */
.deals {
  text-align: center;
  h2 {
    font-size: 1.5rem;
  }
  h2 a {
    font-size: 1.5rem;
    color: #46898E;
  }
  h2 a:hover {
    font-size: 1.5rem;
    color: #fff;
  }
  p {
    font-size: 1rem;
  }
}
/********************
 social media buttons
 ********************/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 15px 10px;
  float: right;
}

.smGlobalBtn { /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  border-radius: 27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */

}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* mobile */
/* Small only */
@media screen and (max-width: 39.9375em) {
  .phone {
    float: none;
    text-align: center;
  }
  #connie-title {
    font-size: 1.8rem;
  }
  #colon-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 63.9375em) {

.bed-main-image {
    background-position: center;
}
.blog-main-image {
  background-position: center;
 }
 .contact-main-image {
  background-position: center;
 }
}
