{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constance Jones | Colon hydrotherapy | Manchester, CT</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <div class="header">
      <div class="row">
        <div class="small-12 large-4 columns phone">
          <p>Call today: (860)287-4558</p>
        </div>
        <div class="small-12 large-4 columns logo">
          <a href="/"><img src="/assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="small-12 large-4 columns">
          <div id="social">
  			<a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/cleanmycolon" target="_blank"></a>
  			<a class="twitterBtn smGlobalBtn" href="https://twitter.com/_ConstanceJones" target="_blank"></a>
  			<a class="googleplusBtn smGlobalBtn" href="https://plus.google.com/102274366414716892024" target="_blank" ></a>
  			<a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/cleanmycolon" target="_blank" ></a>
  			<a class="pinterestBtn smGlobalBtn" href="https://www.pinterest.com/constancejo0096/" target="_blank" ></a>
  		</div>
        </div>
      </div>
      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      		<button class="menu-icon" type="button" data-toggle></button>
      		<div class="title-bar-title">Menu</div>
      </div>
    </div>
    <div class="top-bar" id="example-menu">
          <div class="small-11 small-centered columns menu-top menu-styles">
    				<ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
    						<li><a href="/">Home</a></li>
    						<li><a href="/connie-jones.html">Connie Jones</a></li>
                <li><a href="/services.html">Services &amp; Fees</a></li>
                <li><a href="/preparation.html">Preparation &amp; After Care</a></li>
                <li><a href="/forms.html">Forms</a></li>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/deals.html">Deals!</a></li>
    				</ul>
            </div>
    </div>
<!-- End Header -->


    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}


<!-- Start Footer -->
    <div class="footer">
      <div class="row">
      <div class="small-12 large-6 columns footer-info">
        <p><b>Constance Jones - Colon Hydrotherapy</b></p>
        <p>Center for Progressive Therapies</p>
        <p>192 Hartford Road</p>
        <p>Manchester, CT 06040</p>
        <p>Email: <a href="mailto:connie@cleanmycolon.com?Subject=Hello%20again" target="_top">connie@cleanmycolon.com</a></p>
        <p>Phone: (860) 287-4558</p>
      </div>
      <div class="small-12 large-6 columns footer-info">
        <img src="/assets/img/badges.png">
      </div>

    </div>
  </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
