{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108385549-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108385549-1');
</script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#ifpage 'index'}}
    <title>Constance Jones | Colon hydrotherapy | Manchester, CT</title>
    <meta name="description" content="Constance Jones, a Colon Hydrotherapist in Connecticut, has 37 years of experience providing over 65,000 safe and effective colon cleansing sessions." />
    {{/ifpage}}

    {{#ifpage 'connie-jones'}}
    <title>Constance Jones -- Colon hydrotherapy: About Connie</title>
    <meta name="description" content="Constance Jones has 38 years of providing 65,000 comfortable and hygienic cleansings of the large intestine." />
    {{/ifpage}}

    {{#ifpage 'contact'}}
    <title>Constance Jones -- Colon Hydrotherapy: Contact</title>
    <meta name="description" content="A comfortable space promoting wellbeing in New England." />
    {{/ifpage}}

    {{#ifpage 'service'}}
    <title>Constance Jones – Colon Hydrotherapy: Service and Fees</title>
    <meta name="description" content="Connie offers an array of services to meet her client’s needs." />
    {{/ifpage}}

    {{#ifpage 'deals'}}
    <title>Constance Jones -- Colon hydrotherapy - Deals</title>
    <meta name="description" content="A list of current specials and deals offered by Constance Jones -- Colon Hydrotherapy." />
    {{/ifpage}}

    {{#ifpage 'forms'}}
    <title>Constance Jones -- Colon hydrotherapy: Client Forms</title>
    <meta name="description" content="Save time by completing our intake forms before your appointment." />
    {{/ifpage}}

    {{#ifpage 'preparation'}}
    <title>Constance Jones – Colon Hydrotherapy: Preparation and Aftercare</title>
    <meta name="description" content="Preparation and After Care - dietary guidelines and other eating tips, day of session and after session." />
    {{/ifpage}}

    {{#ifpage 'resources'}}
    <title>Constance Jones – Colon Hydrotherapy: Preparation and Aftercare</title>
    <meta name="description" content="Resources - dietary guidelines and other eating tips, day of session and after session." />
    {{/ifpage}}

    {{#ifpage 'reviews'}}
    <title>Constance Jones – Colon Hydrotherapy: Preparation and Aftercare</title>
    <meta name="description" content="Reviews - dietary guidelines and other eating tips, day of session and after session." />
    {{/ifpage}}

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="icon" href="/assets/img/favicon.png">
  </head>
  <body>
    <div class="header">
      <div class="row">
        <div class="small-12 medium-4 columns phone">
          <p>Call today: (860)287-4558</p>
          <!-- {{#ifpage 'index'}} -->
          <div class="small-12 small-centered columns">
            <a href="/deals.html" class="button" style="line-height:16px; border-radius:10px; text-transform:uppercase; font-weight:bold;"> Summer Deal Extended <br> Through September!</a>
          </div>
          <!-- {{/ifpage}} -->
        </div>
        <div class="small-12 medium-4 columns logo">
          <a href="/"><img src="/assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="small-12 medium-4 columns">
        <div id="social">
            <a href="https://www.daocloud.com/pro/constance-jones"><img src="https://www.daocloud.com/src/assets/img/graphics/badge-follow-md.png"/></a>
  			<a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/cleanmycolon" target="_blank"></a>
  			<a class="twitterBtn smGlobalBtn" href="https://twitter.com/_ConstanceJones" target="_blank"></a>
  			<a class="googleplusBtn smGlobalBtn" href="https://plus.google.com/103245854992332018974" target="_blank" ></a>
  			<a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/cleanmycolon" target="_blank" ></a>
  			<a class="pinterestBtn smGlobalBtn" href="https://www.pinterest.com/constancejo0096/" target="_blank" ></a>
  		</div>
        </div>
      </div>
      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      		<button class="menu-icon" type="button" data-toggle></button>
      		<div class="title-bar-title">Menu</div>
      </div>
    </div>
<!-- End Header -->

    {{> body}}

<!-- Start Footer -->
    <div class="footer">

      <div class="row footer-info">

      <div class="small-12 medium-6 columns">
        <p><b>Constance Jones - Colon Hydrotherapy</b></p>
        <p>Center for Progressive Therapies</p>
        <p>192 Hartford Road</p>
        <p>Manchester, CT 06040</p>
        <p>Email: <a href="mailto:connie@cleanmycolon.com?Subject=Hello%20again" target="_top">connie@cleanmycolon.com</a></p>
        <p>Phone: (860) 287-4558</p>
      </div>

      <div class="small-12 medium-6 columns">
        <img src="/assets/img/badges.png">
        <div class="small-7 small-centered columns">
        
        </div>
      </div>

    </div>
<div class="footer-bkg">
    <div class="row">
      <div class="small-12 columns">
        <div class="footer-menu">
          <ul>
              <li><a href="/">Home</a></li>
              <li>| <a href="/connie-jones.html">Connie Jones</a></li>
              <li>| <a href="/reviews.html">Reviews</a></li>
              <li>| <a href="/service.html">Service &amp; Fees</a></li>
              <li>| <a href="/preparation.html">Preparation &amp; After Care</a></li>
              <li>| <a href="/forms.html">Forms</a></li>
              <li>| <a href="/resources.html">Resources</a></li>
              <li>| <a href="/blog">Blog</a></li>
              <li>| <a href="/contact.html">Contact</a></li>
              <li>| <a href="/deals.html">Deals!</a></li>
          </ul>
        </div>
        <div class="small-6 columns">
          <p style="text-align: center;"><span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ZaTsSAFlW5xmdimhFWjePxUSkY06CvA5c69Vzd3bLr1IGG1RE2o6jlkAkoad"></script></span></p>
        </div>
          <div class="small-6 columns">
          <p style="text-align: center;"><span id="siteseal"><a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=cleanmycolon.com','SiteLock','width=600,height=600,left=160,top=170');" ><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/cleanmycolon.com" /></a></span></p>
          
          </div>

        <p style="text-align:center; padding:5px; font-size:.9rem;">&copy; 2016 Constance Jones | <a href="/assets/img/Connie GDPR.pdf" target="_blank" style="color:#fff;">Privacy Policy</a></p>
    </div>
  </div>
</div>
</div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
